@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* General Styles */
.red-text {
  color: red;
}

/* Form Component */
.form-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 24px;
}

.form-input {
  padding: 0.5rem;
  font-size: 18px;
  width: 50%;
}

.form-sublabel {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.form-options-container label{
  color: #7B7B7B;
}

/* Forms */
.form-body {
  background-color: #C9E5FB;
  font-family: 'Karla', sans-serif;
  border-radius: 8px;
  padding: 20px 2px;
}

.form-heading {
  text-align: center;
  font-size: 40px;
  margin: 20px;
  padding-bottom: 20px;
}

.form-responsibilities-list {
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.form-questions {
  padding: 20px;
  background-color: #fff;
  font-size: 18px;
  margin: 20px;
}

.form-logo {
  padding: 2px 20px;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; 
  width: 50%;
  margin: 0 auto;
}

.form-btn {
  flex: 1;
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 50px;
  cursor: pointer;
}

.form-btn-back {
  background-color: white;
  border: 3px solid #2969C4;
}

.form-btn-back:hover {
  background-color: #e7f3ff;
}

.form-btn-continue {
  background-color: #2969C4;
  color: white;
  border: 2px solid #2969C4;
}

.form-btn-continue:hover {
  background-color: #0056b3;
}


.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 15.625rem;
  background-color: #ECECEC; /* Ensure background color is set to grey */
  flex-shrink: 0; /* Prevent the sidebar from shrinking */
}

.content-container {
  flex-grow: 1; /* Allow the content container to take up the remaining space */
  padding: 1rem; /* Apply padding */
  overflow-y: auto;
}