* {
  box-sizing: border-box;
}

:root {
  --custom-lightblue: rgb(194, 224, 251);
  --custom-darkblue: rgb(41, 105, 196);
  --custom-teal: rgb(203, 248, 243);
  --custom-gray: rgb(217, 217, 217);
  --custom-red: rgb(224, 41, 41);
}